:root {
    --color-header-bg: #24292f;
    --color-sub-header-bg: #f6f8fa;
    --color-body-bg: #ffffff;
    --color-header-text: #ffffff;
    --color-sub-header-text: rgba(255,255,255,0.7);
    --color-body-text: #24292f;
    --color-border: #d0d7de;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
}

main {
    font-family: 'Noto Sans', sans-serif;
    line-height: 30px;
    word-spacing: 4px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    background-color: var(--color-body-bg);
    padding-bottom: 50px;
    margin-top: 100px;
    min-height: 100%;
}

/* ################# */ 
/* HEADER AND FOOTER */ 
/* ################# */ 

.header_container, .footer_container {
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
    align-items: center;
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
}

.header_container {
    grid-template-columns: 100px 1fr;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1;
}

.header_logo {
    width: 60px;
    border: solid 1px black;
}

.header_nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.header_nav_li {
    font-family: 'Ubuntu Mono', monospace;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    border-radius: 3px;
    list-style-type: none;
}

.header_nav_a {
    text-decoration: none;
    text-transform: lowercase;
    color: var(--color-header-text);
    padding: 15px;
    margin: 0px;
}

.header_nav_a:hover {
    text-decoration: none;
    color: var(--color-header-bg);
    background-color: var(--color-header-text);
}

.footer_container {
    grid-template-columns: repeat(5, 1fr);
    padding: 0px;
    position: relative;
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* margin-top: -100px; */
    height: 60px;
    clear: both;
}

.footer_socials {
    grid-column: 1 / span 1;
    display: inline-block;
}

.footer_copyright {
    grid-column: 5;
    justify-self: right;
    padding-right: 10px;
}

/* #### */ 
/* BODY */ 
/* #### */ 

article {
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
}

.main_nav_ul {
    padding: 0px;
}

.main_nav_li {
    font-family: 'Ubuntu Mono', monospace;
    /* padding: 15px; */
    /* margin: 15px; */
    /* font-size: 20px; */
    /* border-radius: 3px; */
    list-style-type: none;
}

.main_subnav_li {
    list-style-type: none;
    padding-left: 15px;
}

.main_nav_a {
    text-decoration: none;
    /* text-transform: lowercase; */
    margin: 0px;
    color: var(--color-body-text)
}

/* .main_content_body {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
} */

.main_directory {
    max-height: 80vh;
}

.main_directory, .main_additional_info {
    max-height: 75vh;
    position: sticky;
    top: 100px;
    overflow-y: scroll;
}

.reminder_contact {
    background-color: rgb(212, 236, 204);
    border-radius: 5px;
    padding: 5px 5px 5px 20px;
    margin: 3rem 0 3rem 0;
}

.ap_disclaimer {
    background-color: rgb(255, 205, 205);
    border-radius: 5px;
    padding: 20px;
    margin: 3rem 0 3rem 0;
}

.qotd {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 20px;
}

.main_additional_info {
    /* max-height: 600px; */
    height: 500px;
}

h1 {
    /* display: inline-block; */
    font-size: 25px;
    /* background-color: var(--color-sub-header-bg); */
    /* margin: 10px 0 0 0; */
    /* padding-top: 20px; */
    padding-bottom: 15px;
}

h2 {
    font-size: 15px;
}

h1, h2 {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.fa-linkedin:before {
    content: "\f08c";
}

a {
    display: relative;
}

.fa-brands {
    width: 40px;
    text-align: center;
    color: white;
    padding: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1030px) {
    main {
        margin-top: 200px;
        min-height: 100vh;
        display: grid;
        grid-template: 20rem 2fr 20rem / 1fr;
        grid-template-areas:
        'topics'
        'body'
        'takeaways';
    }
    .main_directory, .main_content, .main_additional_info {
        position: inherit
    }
    .header_container {
        /* grid-template-columns: 1fr; */
        grid-template: 4rem 8rem / 1fr;
        justify-items: center;
        padding-left: 0px;
        padding-top: 10px;
        position: fixed;
        margin: 0px;
    }
    .header_nav ul {
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }
    .header_nav_li {
        margin: 0px;
        padding: 0px;
    }
    .header_nav_a:hover {
        color: var(--color-border);
        background-color: transparent;
    }
    .footer_container {
        grid-template-columns: 2fr 1fr;
        position: fixed;
        bottom: 0px;
        left: 0px;
        min-width: 100%;
    }
    .footer_socials {
        grid-column: 1;
        display: inline-block;
    }
    .footer_copyright {
        grid-column: 2;
    }

}